html {
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: 'Verdana', sans-serif;
}

header h1 {
    text-align: center;
    text-justify: distribute;
    font-size: 50px;
    font-weight: normal;
}

/* main sections of site, 'featured', 'guide', and 'comming_soon' */
/* featured */
section.featured h5 {
    text-align: center;
    font-size: 25px;
}

section.featured h5 a {
    color: aquamarine;
    font-size: 16px;
    font-weight: 750;
}

section.featured figure {
    text-align: center;
}

/* guide */
section.guide h1 {
    text-align: center;
    font-weight: 300;
    font-size: 42px;
}

section.guide h3 {
    text-align: center;
    color: gray;
}

section.guide figure {
    text-align: center;
}

/* cooming soon */
section.coming_soon figure {
    text-align: center;
}

section.coming_soon h1 {
    text-align: center;
    font-size: 42px;
    font-weight: normal;
}

section.coming_soon h5 {
    text-align: center;
}

section.coming_soon a {
    color: aquamarine;
    font-size: 16px;
}

/* footer */
footer {
    text-align: right;
    color: gray;
    font-weight: 750;
}